body {
  background-color: #E28E06;
}
.container {
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #515151;
    width: 900px;
    padding-bottom: 20px;
    border-radius: 20px;
}

p {
    text-align: center;
}


.detail {
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #515151;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 600px;
    padding-bottom: 20px; 
    
}

form {
    text-align: center;
}

input[type=text]{
  background-color: #515151;
    margin: 0 auto;
    font-size: 10px;
    border: none;
    width: 200px;
    border-bottom: 2px solid #D3D3D3;
    padding: 10px;
}
input[type=text]:hover {
    border-bottom: 2px solid #333333;
}
input[type=text]:focus {
    border-bottom: 2px solid #333333;
}

input[type=submit]{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100px;
}

input[type=submit]:hover{
    transform: rotate( 10deg );
}

h2 {
  text-align : center;
  text-decoration: underline overline;

}
table {
  padding: 10px;
  color: white;
}
th {
  position: sticky;
  text-align: left;
  font-size: 24px;
  text-decoration: underline;
}
td {
    padding: 10px;
    text-align: justify;
}

td:first-child {
  width: 150px;
}

td.collspan {
    text-align: center;
}

.not-allowed {
    cursor: not-allowed;
}

.back {
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #262626;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

#print {
    float: right;
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #262626;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.back:hover {
    transform: rotate(-4deg);
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #262626;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}


.error {
    text-align: center;
    font-size: 40px;
    margin-top: 240px;
    color: red;
}

.errorpage {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  text-shadow: 5px 7px 10px #3D3D3D  ;
}

@media only screen and (max-width: 600px) {
  
  .container {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    width: 300px;
    margin-top: 10px;
  }
  .detail {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    width: 300px;
    margin-top: 10px;  
    
}
  
  td {
    font-size: 8px;
  }
  td:first-child {
    width: 80px;
  }
  
  table {
    width: 100%;
  }
  
  a {
    font-size: 8px;
  }
 
  #print {
    margin-left: 5px;
    display: inline;
    float: left;
  }
  .error {
        text-align: center;
        font-size: 20px;
        margin-top: 200px;
        color: red;
    }
    
    .errorpage {
      font-size: 20px;
    }
    
    em.update {
      font-size: 8px;
    }
    
    footer {
      margin-left: 5px;
    }
}
