.container {
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCFCFC;
    width: 600px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 2px #919191;
}

p {
    text-align: center;
}

.job {
    cursor: pointer;
    text-align: center;
    margin: 5px;
    max-width: 80px;
    background-color: #F2F2F2;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
}
.job:hover {
    transform: rotate( 10deg);
    box-shadow: 5px 10px 7px #E5E5E5;
}

.detail {
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FCFCFC;
    width: 900px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 2px #919191;   
    
}

form.find {
    text-align: center;
}

input[type=text]{
    margin: 0 auto;
    font-size: 10px;
    border: none;
    width: 200px;
    border-bottom: 2px solid #D3D3D3;
    padding: 10px;
}
input[type=text]:hover {
    border-bottom: 2px solid #333333;
}
input[type=text]:focus {
    border-bottom: 2px solid #333333;
}

input[type=submit]{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100px;
}

input[type=submit]:hover{
    transform: rotate( 10deg );
}

h3 {
    text-align: center;
}
table {
    margin: 0 auto;
}

td {
    padding: 10px;
}

td.collspan {
    
}

.not-allowed {
    cursor: not-allowed;
}

a {
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #262626;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

a:hover {
    transform: rotate(-10deg);
}

label {
    width: 100%;
    cursor: pointer;
    background-color: #D8D8D8;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

label:hover {
    transform: rotate(10deg);
}
input[type=radio]{
    display: none;
    text-align: center;
}

.checked {
    background-color: #6FFF59;
}

tr td {
   
}

textarea {
    font-family: sans-serif;
    width: 200px;
    height: 150px;
    resize: none;
}

.pertanyaan {
    text-align: justify;
}

td:first-child {
    width: 200px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0 auto;
}

input[type=number]{
    -moz-appearance: none;
    padding: 10px;
}



.error {
    text-align: center;
    font-size: 40px;
    margin-top: 240px;
    color: red;
}

@media only screen and (max-width: 600px) {
  
  .container {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    width: 300px;
    margin-top: 10px;
  }
  
  .error {
        text-align: center;
        font-size: 20px;
        margin-top: 200px;
        color: red;
    }
}